body{

}
@font-face{
    font-family: LemonMilk;
    src: url('../fuentes/LemonMilk.otf');
}
.iconos{
    width: 25px;
    height: 25px;
    margin-left: 40px;
    margin-top: 20px;
}
*{
    margin: 0;
    padding: 0;
}
/* nuestra cabecera ocupara el 100% */
header {
    font-family: LemonMilk;
    margin-top:10px; /*Simplemente agregamos un margen*/
    width: 100%;
    height: 150px; /*Le damos un alto fijo al menu*/
    overflow: hidden; /*Agregamos un overflow hidden para que no se muestren elementos que sobrepasen los 150px de alto*/
    position: relative; /*Convertimos el menu en posición relativa porque mas adelante en el header > nav pondremos una posición absoluta*/
}
nav {
    top:-20px;
    position: absolute;
    left:0;
    right:0;
    margin:20px auto;
    max-width:100%;
    width:130%;
}
/* para quitar los puntos */
nav  ul{
    list-style: none;
}
/* Se aplicara solo a las ul que estan despues del nav */
nav > ul {
    display:table;
    width:100%;
    background:#000;
    position: relative;
}
/* los primeros li, tendran posicion tabla celda */
nav > ul li {
    display:table-cell;
}
/*SUBMENU */
nav > ul > li:hover > ul {
    display:block;
    height:100%;
}

/* */
nav > ul > li > ul {
    display: none;
    display:block;
    position:absolute;
    background:#000;
    left:0;
    right:0;
    overflow:hidden;
    height:0%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav > ul li a {
    color:white;
    display:block;  /*display block para el espaciado */
    line-height:20px;
    padding:20px;
    position: relative;
    text-align:center;
    text-decoration:none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav > ul > li > ul > li a:hover {
    background:#5da5a2;
    color: white;
}
/* animacion para  */
nav > ul > li > a span {
    background:#174459;
    display:block;
    height:100%;
    width:100%;
    left:0;
    position:absolute;
    top:-55px; /* para desaparecerlo */
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

nav > ul > li > a span .iconos {
    display:block;
    line-height:60px;

}
/* para que caiga el bloque de arriba que esta escondido
Cuando  nos pongamos encima de los a se activaran los span y caen*/
nav > ul > li > a:hover > span {
    top:0;

}


/*  COLORES de los SPAN que caen*/
nav ul li a .primero {
    background:#0e5061;
}

nav ul li a .segundo {
    background:#5da5a2;
}

nav ul li a .tercero {
    background:#f25724;
}

nav ul li a .cuarto {
    background:#174459;
}

nav ul li a .quinto {
    background:#37a4d9;
}

nav ul li a .sexto {
    background:red;
}

/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------INCIIO BUSCADOR---------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
#formularioBuscador{
    float: left;
    width: 600px;
    height: 40px;
    border: solid grey 4px;
    margin-left: 10%;
}
#formularioBuscador select{
    float: left;
    width: 200px;
    height: 40px;
    margin-left: 0%;
    border: solid gainsboro 1px;

}
#formularioBuscador input{
    float: left;
    width:350px;
    height: 40px;
    border: solid gainsboro 1px;
}
#formularioBuscador button{
    float: left;
    width: 50px;
    height: 40px;
    border: solid gainsboro 1px;
}
.container {
    margin-left: 70%;
    width: 440px;
}
.login-help{
    float: left;
}

.login {
    position: relative;
    width: 240px;
    background: white;
    float: left;

}
.login h3{
    margin: -10px -10px 11px;
    line-height: 30px;
    font-size: 19px;
    font-weight: lighter;
    color: white;
    text-align: center;
    text-shadow: 0 1px white;
    background: #3498db;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
}

input[type=text], input[type=password] {
    width: 100px;
    height: 6px;
    background: white;
    border: 1px solid;
    border-color: #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius: 2px;
    float: left;
}
#boton {
    text-shadow: 1px 1px 3px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 12px;
    background: #3498db;
    padding: 1%;
    text-decoration: none;
    position: relative;
    float: left;

}
#boton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------CIERRE BUSCADOR---------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/

/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------login-----------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/

input[type="text"]{
    margin-left: 15px;
    margin-top: 0px;
    width: 110px; /*ancho por defecto*/
    background: #ededed no-repeat 9px center;
    padding: 9px 10px 9px 32px;
    position: relative;
    float: right;
    -webkit-transition: all .5s; /* transición de .5seg a todos los elementos para chrome*/
    -moz-transition: all .5s; /* transición de .5seg a todos los elementos para mozilla*/
    -o-transition: all .5s; /* transición de .5seg a todos los elementos para ophera*/
    transition: all .5s; /* transición de .5seg a todos los elementos*/
    outline: none; /* ocultar el fucos automático de los input */
}
input[type="text"]:focus{
    padding-left: 32px; /*espacio entre el icono lupa y el placeholder*/
    color: #000;
    background-color: #FFF;
}

input[type="password"]{
    margin-left: 15px;
    margin-top: 0px;
    width: 110px; /*ancho por defecto*/
    background: #ededed no-repeat 9px center;
    padding: 9px 10px 9px 32px;
    position: relative;
    float: right;
    -webkit-transition: all .5s; /* transición de .5seg a todos los elementos para chrome*/
    -moz-transition: all .5s; /* transición de .5seg a todos los elementos para mozilla*/
    -o-transition: all .5s; /* transición de .5seg a todos los elementos para ophera*/
    transition: all .5s; /* transición de .5seg a todos los elementos*/
    outline: none; /* ocultar el fucos automático de los input */
}
input[type="password"]:focus{
    padding-left: 32px; /*espacio entre el icono lupa y el placeholder*/
    color: #000;
    background-color: #FFF;
}

#boton2 {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Georgia;
    color: #ffffff;
    font-size: 12px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    float: right;
    margin-right: 10%;

}

#boton2:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------CIERRE LOGIN---------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
#buscador{
    position: relative;

}
#cabecera{
    position: relative;
}

/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------INICIO SLIDER-----------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
.slider{
    width: 80%;
    height: auto;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; /* los elementos qu estan fuera se ocultan */

}
.slider ul{
    display: flex; /* una imagen al lado de la otra */
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}
.slider li{
    width: 100%;
    list-style: none; /* quitamos los puntos de las listas*/
    padding: 3px;

}
.slider img{
    width: 100%;


}

@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    /* del 0 al 20 la primera imagen*/
    /*  del 20 al 25 es el tiempo de una imagen a otra, la transicion*/
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}


    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

}



/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------CIERRE SLIDER-----------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/

/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------DIV CONTENEDOR (GALERIA Y EVENTOS)--------------------------*/
/*_------------------------------------------------------------------------------------------------*/

/*_------------------------------------------------------------------------------------------------*/
/*_-----------------------------CIERRE DIV CONTENEDOR (GALERIA Y EVENTOS)--------------------------*/
/*_------------------------------------------------------------------------------------------------*/

/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------INICIO GALERIA-----------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
#galeria{
    float: left;
    width: 80%;
    height: 600px;
}
#galeria_inicio {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    height: 65%;
    float: left;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: auto;

}

#galeria_inicio td, #galeria_inicio th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}
#galeria_inicio a{
    color: #000;
}
#galeria_inicio a:link, a:visited {
    margin-left: 10px;
    font-family: "Adobe Caslon Pro";
    font-size: 12px;
}

a:hover, a:active {
    color: grey;
}

#galeria_inicio td:hover{
background-color: #e2dfdf;
}

#customers tr:hover {background-color: #ddd;}

#galeria_inicio th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: dodgerblue;
    color: white;
}
#galeria_inicio img{
    height: 10%;
    width: 25%;
}

/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------CIERRE GALERIA-----------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/

/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------INICIO EVENTOS-----------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
#eventos{
    float: left;
    width: 20%;
    height: 420px;
    margin-top: 10%;
}
#eventos a{
    color: #000;
}
#eventos ul{
    list-style:none;
}
#eventos span{
    font-family: fantasy;
    background-color: dodgerblue;
    color: white;
}
#eventos table{
    margin-left: -30%;
    width: 80%;
}
#eventos td {
    border: 1px solid #ddd;
    text-align: center;

}
#eventos th{


background-color: dodgerblue;
color: white;
}
#eventos img{
      width: 25%;
      height: 15%;
  }
#eventos a{
    text-align: right;
    font-family: "Adobe Caslon Pro";
    font-size: 11px;
}
/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------CIERRE EVENTOS-----------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/

/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------INICIO FOOTER-----------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
footer{
    background-color: #333;
    width: 100%;
    position: relative;

}
footer a{
   color: white;

}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 240px;
    background-color: black;

}

.flex-item {
    color: white;
    width: 10%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;

}.flex-item li{
    list-style: none;

 }
 .flex-item span{
     color: grey;
     font-family: "Adobe Caslon Pro";
 }
 .flex-item a,p{
     font-size: medium;
     font-family:"Adobe Arabic";
     padding-left: 5%;

 }

/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------CIERRE FOOTER-----------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/

/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------PUBLICIDAAD-----------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/

#publicidad{
    margin-top: 50%;
    margin-left: 15%;
    margin-right: 15%;

}
div#logo {
    width: 610px;
    height: 200px;
    padding: 0;
    background: url("../imagenes/adidas-logo.png") no-repeat top center black;
    position: relative;
    right: 100%;
    left: 10%;
    top:-12px;
}

div#letras {
    padding: 0;
    background: url("../imagenes/adidas-letras.png") no-repeat bottom center;
    width: 30%;
    height: 5px;
    margin-left: 35%;
    /* Firefox */
    -moz-transition: height 1s linear 0.2s;
    /* Chrome / Safari*/
    -webkit-transition: height 1s linear 0.2s;
    /* Opera */
    -o-transition: height 1s linear 0.2s;
    /* Default */
    transition: height 1s linear 0.2s;
    animation-iteration-count: infinite;
}

div#logo:hover div#letras {
     height: 200px;
 }
div#all{
    background: url("../imagenes/allin.png") no-repeat bottom right;
    width: 100%;
    height: 95px;

    /* Firefox */
    -moz-transition: height 1s linear 0.2s;
    /* Chrome / Safari*/
    -webkit-transition: height 1s linear 0.2s;
    /* Opera */
    -o-transition: height 1s linear 0.2s;
    /* Default */
    transition: height 1s linear 0.2s;
}
div#logo:hover div#all {
    height: 1px;
}

/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------CIERRE PUBLICIDAD-------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/





/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------------MI PERFIL--------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/

#contenidoPerfil{
    height: 100%;
    width: 100%;

}
#miPerfil{
    width: 90%;
    height: 90%;
}
#miPerfil table{
    width: 80%;
    height: 80%;
    border: 3px solid gainsboro;
    margin-bottom: 5%;
}
#miPerfil table{
    margin-left: 15%;
    margin-right: 15%;
}
#miPerfil table thead{
    text-align: left;
    width: auto;
    color: green;
    background-color: #dffddf;
}

.editar {
    color: blue;
    cursor:pointer;
}
.titulos{
    padding-top: 5%;
}
/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------------MIs imagenes compradas--------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
#misCompras{
    width: 90%;
    height: 90%;
}
#misCompras span{
    text-align: left;
    width: 80%;
    color: green;
    background-color: #dffddf;
    margin-left: 15%;

}
#misCompras img{
    height: 60px;
    width: 60px;
    margin: 0 auto;

}
#misCompras img:hover{
    -webkit-transform: scale(3.5);
    transform: scale(3.5)

}
#viajes {
    width: 80%;
    height: 80%;
    border: 3px solid gainsboro;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
}

.viajes-item {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}
.viajes-item > img {
    width: 45%;
    height: 45%;
    margin-left: 5%;
    align-self: center;
    -webkit-align-self: center;
}
.viajes-item > button {
    width: auto;
    align-self: center;
    -webkit-align-self: center;
}







/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------------GALERIA----------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
.selecionarDeporte{
    position: relative;
    top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
.selecionarDeporte nav {
    text-align: center;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: white;
    display: block;
    margin: 8px 22px 8px 22px;
    width: 90%;
}

.selecionarDeporte nav > ul > li:hover {
    background-color: rgb( 40, 44, 47 );
}

.selecionarDeporte nav > ul > li:hover > a {
    color: rgb( 255, 255, 255 );
}

.selecionarDeporte nav > ul > li:hover > a > .caret {
    border-top-color: rgb( 255, 255, 255 );
}


/* GALLERIA */

.gallery {
    width: 80%;
    height: 50%;
    margin: 2% 10% 10% 10%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.gallery li{
    position: relative;
    width: 33%;
    float: left;
    padding: 0.625rem;
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
}
.gallery li .box {
    position:relative;
    padding: 6px 6px 30px 6px;
    background-color: #fff;
    overflow: hidden;
}
.gallery li figure{
    display: block;
    width: 100%;
    margin-bottom: 6px;
}
.gallery li figure:hover{
    background-color:gainsboro;
    width: 110%;
}
.gallery li img{
    width: 100%;
    height: 30%;
}
.gallery li img:hover{
    width: 110%;
    height: 90%;
    opacity: 0.4;
}

.gallery li h3{
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: bold;
    line-height: 100%;
    text-transform: uppercase;
    color: #000;
}

.gallery li:nth-child(even) .box {
    background: #eee;
}

/* MEDIA QUERIES */

@media screen and (max-width:992px) {
    .gallery {
        width: auto;
        height: 20%;
    }
}
@media screen and (max-width:768px) {
    .gallery li {
        width: 50%;
    }
}
@media screen and (max-width:468px) {
    .gallery li {
        width: 100%;
    }
}
.button {
    border: 0 none;
    border-radius: 36px;
    background: blue;
    color: white;
    padding: 6px;
    margin-left: 40%;

    cursor: pointer;
    display: inline-block;

    font-size: 10px;
    color: #fff;
    text-transform: none;

    transition: all 80ms ease-in-out;
}
.button:hover {
     opacity: .7;
 }
.button.-blue {
    background: blue;
    color: white;
}


/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------------CONTACTO---------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/


#logoFotoSport{
    margin:0 auto 0 auto;
    width:390px;
    display: block;
    width: 150px;
    height: 92px;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;

    animation: cambio2 10s;
    animation-timing-function: ease-out;
}
@keyframes cambio2 {
    0%{margin-left: -20%;}
    40%{margin-left: 44%;}
}

#logoFotoSport:hover{
    background-color: white;
    width: 150px;
    height: 92px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#imagenesContacto{
    margin-left: 35%;
    width: 40%;
}

#formularioContacto{
    margin-left: 30%;
    margin-right: 30%;
    width: 70%;
}

.contact_form h2 {
    background: none repeat scroll 0 0 #F3F3F3;
    border-radius: 5px;
    color: #5CD053;
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
    text-shadow: 1px 1px 1px #CCCCCC;
    width: 70%;
}
/*--- estilos para los ul y li del formulario ---*/
.contact_form ul {
    width:750px;
    list-style-type:none;
    margin:0px;
    padding:0px;
}
.contact_form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}
.contact_form label {
    color: #555555;
    display: inline-block;
    float: left;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 90px;
}
.contact_form input {
    height:20px;
    width:220px;
    padding:5px 8px;
}
.contact_form textarea {
    padding:8px;
    width:300px;
}
.contact_form button {
    margin-left:90px;
}

/*----- estilos visuales de los elementos --------*/

.contact_form input, .contact_form textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    color: #888;
    font-size: 12px;
    padding-right:30px;
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
.contact_form input:focus, .contact_form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
    padding-right:70px;
}

/* === Estilos de Validacion === */

.contact_form input:required:valid, .contact_form textarea:required:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

/* === Estilos del boton de Envio === */
button.submit {
    padding: 9px 17px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #444;
    border: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb));
    background-image: -moz-linear-gradient(0% 100% 90deg, #BBBBBB, #FFFFFF);
    background-color: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
button.submit:hover {
    opacity:.55;
    cursor: pointer;
    color: #fff;
}
button.submit:active {
    border: 1px solid #222;
    box-shadow: 0 0 10px 5px #444 inset;
}

/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_-------------------------------------------CARRITO DE LA COMPRA----------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/
/*_------------------------------------------------------------------------------------------------*/


#carrito {
    padding: 0px 30px 30px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    height: 800px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}



/* Product entries */
.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.product .product-image img {
    width: 60px;
}


.product .product-quantity input {
    width: 40px;
}
.product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    font-size: 12px;
    border-radius: 3px;
    float: right;
}
.product .remove-product:hover {
    background-color: #a44;
}



.totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
}
.totals .totals-item-total {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.checkout:hover {
    background-color: #494;
}

#animacionCarrito ul{
    list-style-type:none;
}

#animacionCarrito ul>li{
    width:550px;
    height:200px;
    margin-top: -220px;
    position:relative;
    left:0px;
    line-height:200px;
    color:#fff;
}



.infinita{
    -webkit-animation-name: AnimInfinita;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:alternate;
    -webkit-animation-timing-function:linear;
    -webkit-animation-delay:1s;
    animation-name: AnimInfinita;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    animation-timing-function:linear;
    animation-delay:1s;

}
@-webkit-keyframes AnimInfinita{
    0%{ left:0px;
        border-radius:0px; }

    50%{transform:rotate(0deg);}
    100%{left:500px;
        border-radius:40px;
        margin-bottom: 20%; }
}
@keyframes AnimInfinita{
    0%{left:0px;
        border-radius:0px; }
    50%{
        }
    100%{left:500px;
        border-radius:40px;
        }
}



